.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  
  }
  
  input[type="text"],
  input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #a3bd8a;
    border: 1px solid #a3bd8a;
    color: #224A4F;
    padding: 10px 20px;
    margin: 10px;
    font-weight: bold;
  }
  
  input[type="submit"]:hover {
    background: #c8e7ab;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .login-form {
    height: 300px;
    background-color: white;
    padding: 2rem;
    width: 300px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 40px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .signIn {
    height: fit-content;
    width: fit-content;
    font-size: 25px;
    margin: auto;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }

  .register {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #a3bd8a;
    border: 1px solid #a3bd8a;
    color: #224A4F;
    padding: 10px 20px;
    margin: 10px;
    font-weight: bold;
  }

  .register:hover {
    background: #c8e7ab;
  }

  .login {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
  }

  .login:hover {
    background: #6cf0c2;
  }
  body {
    background-image: url('../../public/Army.jpg');
  }